* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .menu-toggle {
    display: none;
    font-size: 22px;
    cursor: pointer;
  }
  
  .productos {
    text-align: center;
    padding: 40px 20px;
  }
  
  .productos h2 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  
  .productos-grid {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    gap: 40px;                
}

  .producto-card {
    width: 90%;
    max-width: 900px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    background: #fff;
}

.producto-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

  .producto {
    text-align: center;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 0 auto 10px auto;
  }
  
  .ubicacion {
    text-align: center;
    padding: 40px 20px;
  }
  
  .ubicacion h2 {
    margin-bottom: 10px;
  }
  
  .mapa {
    margin-top: 20px;
  }
  
  footer {
    text-align: center;
    padding: 40px 20px;
    background: #f8f8f8;
  }
  
  footer h2 {
    margin-bottom: 20px;
  }
  
  footer p {
    max-width: 600px;
    margin: 0 auto 20px auto;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .redes a {
    color: #333;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .redes a:hover {
    color: #000;
  }

  @media (max-width: 768px) {
    nav ul {
      display: none;
    }
    .menu-toggle {
      display: block;
    }
    .productos-grid {
      flex-direction: column;
    }
  }

.categorias {
  padding: 40px;
  text-align: center;
}

.categoria {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.categoria h3 {
  font-size: 24px;
}

.categoria p {
  margin: 10px 0;
  font-size: 16px;
}

.btn-categoria {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}

.btn-categoria:hover {
  background: #000;
}


  
